* {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b4252;
  color: white;
  height: 100svh;
  font-size: 22px;
  font-family: "Fira Code", monospace;
  overflow: hidden;
}

.clock {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 180px;
}

#obj-name {
  color: #a1b6d1;
}

.key {
  margin-left: 40px;
  color: #8bb6d1;
}

#equal,
.colon,
.comma {
  color: #8cddfe;
}

.bracket {
  color: #f5d40e;
}

.string {
  color: #b3e080;
}

.number {
  color: #ee8762;
}

.commentary {
  color: #646b90;
}

#assigment {
  color: #9190eb;
}

.offline-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offline-img-container img {
  width: 100%;
  height: 100%;
}