* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Fira Code';
  &::selection {
    background-color: #aaaaaa10;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.const {
  color: $const;
}

.object-name {
  color: $objectName;
}

.object-key {
  color: $objectKey;
}

.equal {
  color: $equal;
}

.brackets {
  color: $brackets;
}

.string {
  color: $string;
}

.number {
  color: $number;
}

.comment {
  color: $comment;
}
