body {
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  .object-properties {
    margin-left: 40px;
    .property {
      margin: 10px 0;
    }
  }
}
